.btn {
    &-bordered {
        border: $btn-border;
    }

    &-submit {
        background: $color-accent;
        color: $color-indicator;
        border-radius: $btn-radius;
        padding: 1rem 5rem;
        border: 0;
        transition: all .2s ease-out;

        &:hover {
            background: lighten($color-accent, 25%);
            transition: all .2s ease-out;
        }
    }
}

::-webkit-input-placeholder,
::-ms-input-placeholder,
:-ms-input-placeholder,
::placeholder {
    color: $color-input-placeholder;
}
:-moz-placeholder,
::-moz-placeholder {
   color: $color-input-placeholder;
   opacity:  1;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

input {
    padding-top: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.563rem;
}

.form-item {
    display: block;
    width: 100%;
}

.plan-option {
    min-width: 130px;
    float: left;
    background: $color-option;
    margin: 1rem;
    padding: 0.5rem 1.2rem 1.2rem 1.2rem;
    border-radius: $btn-radius;

    .custom-indicator {
        font-size: 10px;
        margin-left: -0.5rem;
        color: $color-indicator;
    }

    &-selected {
        background: $color-links;
        color: $color-indicator;

        > .custom-indicator{
            color: $color-indicator-checked;
        }
    }
}
