// seriously, these font sizes are silly...

.font {
    &-12 {
      font-size: 0.8333rem
    }

    &-16 {
      font-size: 1rem
    }

    &-20 {
      font-size: 1.25rem
    }

    &-24 {
      font-size: 1.5rem
    }

    &-34 {
        font-size: 2.125rem
    }

    &-45 {
      font-size: 2.813rem
    }

    &-75 {
      font-size: 4rem
    }
}

.fw {
    &-normal {
        font-weight: $font-weight-normal;
    }
    &-semibold {
        font-weight: $font-weight-semibold;
    }
    &-bold {
        font-weight: $font-weight-bold;
    }
}

.text {
    &-center {
        text-align: center;
    }
}


// links

a {
    text-decoration: none;
    transition: all .2s ease-out;
    &:link {
        color: $color-links;
    }
    &:visited {
        color: $color-links;
    }
    &:hover {
        color: darken($color-links, 25%);
    }
    &:active {
        color: $color-links;
    }
}
