.modal-upload {
    color: $color-muted;
    box-sizing: border-box;
}

.upload-border {
    border: 3px dashed $color-muted;
    border-radius: $btn-radius;
}

.upload-title {
    color: $color-main-font
}
